@media (min-width: 768px) {
  
header {
  display: flex;
  background: #0A192F;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
    .hamburger {
    display: none;
  }

  .navigation {
    display: flex;
    background: none;
  }

  .navigation ul {
    display: flex;
    gap: 20px;
  }

  .navigation li {
    padding: 0;
  }


/********** Featured SECTION *************/

  .featured-cards {
    grid-template-columns: repeat(4, 1fr);
  }


  /***** Build connect *****/

  .lbc-cards {
    grid-template-columns: repeat(3, 1fr);
  }



  /****** Upcoming Events ****/
  /* DESKTOP */
  .events-auth {
    grid-template-columns: 1fr 1fr;
  }



  

  /* Contact Section */

  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin: 100px auto;
  
  }



  /* FOOTER */

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
  }

  .site-footer {
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
  } 
}



  /**** COURSES ****/
  .course-grid {
    grid-template-columns: repeat(3, 1fr);
  }



/* Courses */
@media (min-width: 1024px) {
  .course-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}