*{
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

/************ HEADER ************/
header {
    display:grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

/*********** HAMBURGER NAVIGATION ************/
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #3D405B;  
    cursor: pointer; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/*********** NAVIGATION ************/
.navigation{
    display: none;
}
.navigation.show{
    display: block;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    display: block;
    padding: 1rem 10px;
    color: #3D405B;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}
.navigation li.current{
    background-color: #eee;
}
.navigation a:hover {
    background-color: #E07A5F;
}


h1 {
    margin: 1rem 10px;
    color: #3D405B;
}

/*********** MAIN  ************/
    section{
    display: block;
    gap: 2rem;
   }

   h2{
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 1rem 5px;
    text-align: center;
    margin: 5px 5px;
   }

   .me{
    max-width: 600px;
    text-align: center;
    background-color: #d9d9d9;
    margin-left: 10px;
    padding-bottom: 5px;
   }

   .card-image{
    max-width: 600px;
    background-color: #d9d9d9;
    margin-left: 10px;
    height: auto;
    text-align: center;
    padding-bottom: 10px;
   }

   .courses-category {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

.category_1 {
    border: 1px solid #ddd;
    background-color: #d9d9d9;
    padding: 1rem 52px;
    border-radius: 5px;
    margin: 5px;

}
.category_2 {
    border: 1px solid #ddd;
    background-color: #d9d9d9;
    padding: 1rem 52px;
    border-radius: 5px;
    margin: 5px;    
}
.category_3 {
    border: 1px solid #ddd;
    background-color: #d9d9d9;
    padding: 1rem 52px;
    border-radius: 5px;
    margin: 5px;
}

   main .courses {
    text-align: center;
   }

   .course1 {
    border: 1px solid #ddd;
    background-color: #d9d9d9;
    padding: 1rem 0;
    margin: 0 5px;
   }

    .course2 {
    border: 1px solid #ddd;
    background-color: #d9d9d9;
    padding: 1rem 0;
    margin: 5px;
   }

    .course3 {
    border: 1px solid #ddd;
    background-color: #d9d9d9;
    padding: 1rem 0;
    margin: 5px 5px;
  }


/*********** NAVIGATION ************/
.navigation {
    display: none;;
}
.navigation.show{
    display: block;
}

/*********** footer  ************/
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.copyright {
    background-color: #d9d9d9;
    padding: 1rem 1rem;
    width: 100%;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 8px;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social a img {
    width: 22px;
    height: 22px;
}
.social a:hover {
    background-color: #ddd;
}